@import "../../styles/abstracts/variables";

.app-tab {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: $color-primary-light;
  color: $color-primary-dark;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  font-size: $sm-font-size;
  &:hover {
    color: $color-primary-dark;
  }
  &--header {
    background-color: $color-primary-dark;
    color: $color-primary-light;
    text-align: center;
    border-right: 1px solid $color-primary-light;
    &:hover {
      color: $color-primary-light;
    }
  }
  &__item {
    word-wrap: break-word;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
