@import "../../styles/abstracts/variables";

.action-button {
  border: none;
  background-color: inherit;
  position: relative;
  &__icon {
    &:hover {
      .action-button__tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: $color-primary-light;
    font-size: $sm-font-size;
    color: $color-primary-dark;
    z-index: 999;
    width: 15rem;
  }
}
