@import "../../../../styles/abstracts/variables";

.hero-section {
  display: flex;
  height: 100%;
  justify-content: flex-end;

  &__wrapper {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../../assets/hero.jpg");
  }
}
