@import "../../styles/abstracts/variables";

.select-constructor-item-list {
  &__items {
    border-top: 1px dashed $color-primary-dark;
  }
  &__item {
    padding: 1rem;
    border-bottom: 1px dashed $color-primary-dark;
    cursor: pointer;
    &:hover {
      background-color: $color-primary-light;
    }
  }
  &__search-field {
    display: flex;
    padding: 1rem 1rem 0 1rem;
    & > .form-group:nth-child(2) {
      position: relative;
      flex-grow: 1;
      margin-left: 1rem;
    }
  }
  &__search-icon {
    position: absolute;
    color: $color-primary-dark;
  }
  &__search-input {
    padding-left: 2.5rem !important;
  }
  &__item-name {
    font-weight: bold;
    font-size: $sm-font-size;
  }
  &__item-code,
  &__item-namespace {
    font-size: $xs-font-size;
  }
  &__sorters {
    display: flex;
    padding: 0 1rem 1rem 1rem;
    font-size: $sm-font-size;
    align-items: center;
  }
  &__sorter {
    display: flex;
    color: $color-primary-dark;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
