@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.player-tab {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: $color-primary-light;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  color: $color-primary-dark;
  &:hover {
    color: $color-primary-dark;
  }
  & > * {
    margin-right: 2rem;
  }
  &__avatar {
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  &__name {
    flex-basis: 30%;
    font-weight: 700;
  }
  &__levels-completed {
    flex-basis: 30%;
  }
  &__additional-info {
    flex-basis: 40%;
    font-size: $sm-font-size;
  }
}
