@import "../../styles/abstracts/variables";

.level-tab {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: $color-primary-light;
  color: $color-primary-dark;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  &:hover {
    color: $color-primary-dark;
  }
  & > div:not(:last-child) {
    margin-right: 2rem;
  }
  &__name {
    font-weight: 700;
    flex-basis: 20%;
  }
  &__code {
    flex-basis: 20%;
  }
  &__difficulty {
    flex-basis: 20%;
  }
  &__completes-amount {
    flex-basis: 40%;
  }
}
