@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.sorter {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: $color-primary-dark;
  @include click-scaling-small;
  &__icon {
    width: $md-font-size;
    transition: transform 0.3s;
    &--rotated {
      transform: rotate(180deg);
    }
  }
}
