// COLOR PALETTE
$color-primary: #607D8B;
$color-primary-light: #cfd8dc;
$color-primary-dark: #455a64;
$color-accent: #607D8B;
$color-divider: #BDBDBD;

$color-grey-light: #f7f7f7;
$color-grey: #D9D9D9;
$color-grey-dark: #777777;
$color-white: #ffffff;
$color-black: #000000;

$color-text-primary: #212121;
$color-text-secondary: #757575;

// FONT
$sm-font-size: 1.2rem;
$md-font-size: 1.6rem;
$bg-font-size: 2.5rem;
$lg-font-size: 3.2rem;