@import "../../styles/abstracts/variables";

.register-form {
  & > .form-group > input {
    font-size: $md-font-size;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
