@import "~bootstrap/scss/bootstrap";
@import "overrides/bootstrap-override";

@import "overrides/small-overrides";

@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/utilities";

@import "base/base";
@import "base/animations";
@import "base/typography";

// making proper positioning of navigation and footer
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & > div:nth-child(2) {
    flex: 1 0 auto;
  }
  & > div:nth-child(3) {
    flex-shrink: 0;
  }
}

.app-content-container {
  margin-top: $navigation-bar-height;
}
