@import "~bootstrap/scss/bootstrap";

@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/utilities";

@import "base/base";
@import "base/animations";
@import "base/typography";

.screenshots-container {
  width: 25rem;
  margin: auto;
  overflow: hidden;
}

.screenshots-slide {
  display: flex;
  width: 100%;
  //height: 200px;
}
