@import "../../styles/abstracts/variables";

.math-quill-editor {
  &__operations {
    display: flex;
    background-color: $color-primary-light;
    padding: 2rem;
    margin-bottom: -0.3rem;
    border: 1px solid $color-primary-dark;
    border-bottom: none;
  }
  &__operation > img {
    width: 2rem;
    margin-right: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__main-input {
    width: 100%;
    min-height: 4rem;
  }
}
