@import "../../../styles/abstracts/variables";

.code-mirror {
  display: flex;
}

.CodeMirror {
  height: 100% !important;
}

// override codemirror-find-and-replace-dialog lib
.CodeMirror-find-and-replace-dialog {
  background-color: $color-primary-dark !important;
}
