.solve-math {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__editor {
    margin-top: 2rem;
  }
  &__actions {
    width: 60vw;
    margin-top: 2rem;
    display: flex;
    & > *:last-child {
      margin-left: auto;
    }
  }
}
