.task-constructor-table {
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  padding-bottom: 3rem;

  &__inputs {
    display: flex;
    align-items: flex-end;

    & > * {
      min-width: 25rem;
      margin-bottom: 0 !important;
      margin-right: 1rem;
    }
  }
}

.task-constructor-list {
  display: flex;
  flex-direction: column;

  &__top-action-buttons {
    margin-bottom: 1rem;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
