@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.work-fields-section {
  position: relative;
  background-color: $color-grey;
  & > h1 {
    // fixing big margin between title and graph on small screens
    @include respond(phone) {
      margin-bottom: -8rem;
    }
  }
  &__link {
    position: absolute;
    top: 85%;
    left: 15%;
    color: $color-primary-dark;
    font-weight: 700;
    z-index: 3;
    @include click-scaling;
    &:hover {
      text-decoration: none;
      color: $color-primary;
    }
    //font-size: $bg-font-size;
  }
}
