@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.constructor-menu-page {
  padding: 2rem;
  display: flex;
  @include respond(phone) {
    flex-direction: column;
  }
  &__tabs {
    list-style: none;
    margin-right: 2rem;
    @include respond(phone) {
      display: flex;
      justify-content: center;
    }
  }
  &__tab {
    padding: 1rem 0;
    border-bottom: 2px solid $color-grey;
    cursor: pointer;
    text-align: center;
    &--active {
      border-bottom: 2px solid $color-primary;
      color: $color-primary;
      font-weight: 700;
    }
    @include respond(phone) {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &__blocks {
    display: flex;
    justify-content: space-around;
    @include respond(phone) {
      flex-direction: column;
    }
    flex-grow: 1;
  }
}

.constructor-menu-block {
  border: 1px solid $color-primary-dark;
  border-radius: 5px;
  padding: 2rem;
  background-color: $color-grey-light;
  margin-top: 2rem;
  width: 43%;
  display: flex;
  flex-direction: column;
  @include respond(phone) {
    width: 100%;
  }
  &__title {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 2rem;
    @include respond(tab-port) {
      & > h1 {
        font-size: $md-font-size;
      }
    }
  }
  &__option {
    padding: 2rem;
    border: 1px solid $color-primary-dark;
    border-radius: 5px;
    font-weight: 700;
    background-color: $color-primary-light;
    color: $color-primary-dark;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
