@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.for-players-section {
  background-color: $color-grey;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    text-align: center;
    font-size: $lg-font-size;
    font-weight: 700;
    padding: 4rem 0;
  }

  &__svg-and-selling-phrase {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > img {
      width: 85%;
    }

    & > p {
      margin-top: 2rem;
      font-size: $bg-font-size;
      text-align: center;
      //border: 1px dashed black;
      //border-right: none;
      //border-left: none;
      //border-radius: 5px;
      //padding: 1rem 0;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 50%;
  @include respond(tab-port) {
    width: 100%;
  }
  &__container {
    padding: 1rem 4rem;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* The circles on the timeline */
.timeline__container__number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: $color-primary-dark;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: 0.3rem solid $color-primary-dark;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 2.5rem;
  width: 0;
  z-index: 1;
  right: 3rem;
  border: medium solid white;
  border-width: 1rem 0 1rem 1rem;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 2.5rem;
  width: 0;
  z-index: 1;
  left: 3rem;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right > .timeline__container__number {
  top: 2rem;
  left: -1.2rem;
}
.left > .timeline__container__number {
  top: 2rem;
  right: -1.8rem;
}

/* The actual content */
.content {
  padding: 2rem;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
