@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.app-tab-header {
  background-color: $color-primary-dark;
  color: $color-primary-light;
  margin-bottom: 2rem;
  margin-top: 1rem;
  &--scrolled {
    position: fixed;
    top: 6rem;
    width: 100%;
    padding: 1rem;
  }
  @include respond(phone) {
    font-size: 1rem;
  }
  &:hover {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__filter {
    margin-right: 0.5rem;
    cursor: pointer;
  }
  &__hidden-fields-dropdown {
    // overriding bootstrap styles
    & button {
      background-color: inherit !important;
      border-color: $color-primary-light !important;
      font-size: 1rem;
      &:hover,
      &:active,
      &:visited,
      &:focus {
        background-color: $color-primary-dark !important;
        border-color: $color-primary-dark !important;
        color: $color-primary-light !important;
        box-shadow: 0 0 0 0.2rem rgba($color-primary-light, 0.5) !important;
      }
    }
  }
}
