.sample-user-page {
  margin-bottom: 2rem !important;
  & > h1:first-child {
    margin-top: 8rem;
  }
  & > h1:nth-child(2) {
    margin-top: 2rem;
  }
}

.sample-user-page-left-side {
  display: flex;
  float: left;
  margin-right: 3rem;
}


.user-info {
  display: block;
  padding: 0;
  float: left;
  list-style: none;
  margin-top: 2rem;
  margin-right: initial;
}

.user-photo {
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: black solid;
  padding: 0.1rem;
}

.user-login {
  font-weight: bold;
  margin-bottom: 1rem;
}

.user-name {
  margin-bottom: 1rem;
}

.user-main-container-1 {
  position: relative;
  float: right;
  padding-bottom: 10rem;
}

.user-rating-and-xp {
  display: block;
  padding: 0;
  float: right;
  list-style: none;
  margin-top: 9rem;
  margin-left: 25rem;
}

.user-rating-icon {
  margin-top: -0.3rem;
}

.user-xp-icon {
  margin-top: -0.3rem;
}

$arrow-width: 50rem;
$arrow-height: 3rem;

.arrow-progress-bar {
  text-indent: $arrow-height;
  width: $arrow-width;
  height: $arrow-height;
  position: relative;
  margin-top: 11rem;
  float: left;
  border-bottom-right-radius: $arrow-height / 2;
  border-top-right-radius: $arrow-height / 2;
  margin-right: 6rem;
}

.arrow-progress-bar:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: $arrow-height / 2 solid white;
  border-top: $arrow-height / 2 solid transparent;
  border-bottom: $arrow-height / 2 solid transparent;
}

.user-rank {
  float: left;
  margin-top: 6rem;
}

.user-rank-image {
  width: 13rem;
  height: 13rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  background: #28a745;
  border: 0.5rem silver solid;
  padding: 0.1rem;
  margin-bottom: -2rem;
  margin-left: -3rem;
}

.user-rank {
  float: left;
}

.user-rank-number-container {
  background: #28a745;
  width: 3rem;
  height: 3rem;
  position: relative;
  text-align: center;
  transform: rotate(-60deg);
}

.user-rank-number-container:before, .user-rank-number-container:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3rem;
  background: #28a745;
}

.user-rank-number-container:before {
  content: "";
  transform: rotate(30deg);
}

.user-rank-number-container:after {
  content: "103";
  transform: rotate(60deg);
}

.link-to-rating {
  color: black;
}