.sample-user-page {
  margin-bottom: 2rem !important;
  & > h1:first-child {
    margin-top: 8rem;
  }
  & > h1:nth-child(2) {
    margin-top: 2rem;
  }
}


.user-info {
  display: flex;

  &__block {
    display: block;
    padding: 3rem;
    list-style: none;
    margin-right: 10rem;

    &__photo {
      width: 15rem;
      height: 15rem;
      margin-bottom: 1rem;
      border-radius: 50%;
      border: black solid;
      padding: 0.1rem;
    }

    &__login {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &__name {
      margin-bottom: 1rem;
    }
  }

  &__progress {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5rem;

    &__rating-and-xp {
      display: block;
      padding: 0;
      float: right;
      list-style: none;
      margin-top: 9rem;
      margin-left: 15rem;

      &__link-to-rating {
        color: black;
      }

      &__rating-icon {
        margin-top: -0.3rem;
      }

      &__xp-icon {
        margin-top: -0.3rem;
      }
    }

    $arrow-width: 50rem;
    $arrow-height: 3rem;
    &__arrow-progress-bar {
      text-indent: $arrow-height;
      width: $arrow-width;
      height: $arrow-height;
      position: relative;
      margin-top: 11rem;
      float: right;
      border-bottom-right-radius: $arrow-height / 2;
      border-top-right-radius: $arrow-height / 2;
      margin-right: 6rem;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: $arrow-height / 2 solid white;
        border-top: $arrow-height / 2 solid transparent;
        border-bottom: $arrow-height / 2 solid transparent;
      }
    }

    &__rank {
      float: right;
      margin-top: 6rem;

      &__image {
        width: 13rem;
        height: 13rem;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        border: 0.5rem silver solid;
        margin-bottom: -2rem;
        margin-left: -3rem;
      }

      &__number-container {
        background: #28a745;
        width: 3rem;
        height: 3rem;
        position: relative;
        text-align: center;
        transform: rotate(-60deg);

        &:before, &:after {
          position: absolute;
          top: 0;
          left: 0;
          height: 3rem;
          width: 3rem;
          background: #28a745;
        }

        &:before {
          content: "";
          transform: rotate(30deg);
        }

        &:after {
          content: "103";
          transform: rotate(60deg);
        }
      }
    }
  }
}

.user-stats {
  display: block;
  position: relative;
  float: left;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  margin-left: 30rem;
  margin-right: 20rem;

  &__achievements {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5rem;

    &__sections {
      display: block;
      list-style: none;

      &__label {
        display: block;
        font-weight: bold;
      }

      &__blocks {
        display: block;
        padding: 3rem;
        float: left;
        list-style: none;

        &__in-progress {
          display: inline-block;
          margin-bottom: 2rem;
          list-style: none;

          &__item {
            display: inline-block;

            &__achievement {
              display: block;
              list-style: none;

              &__image {
                width: 8rem;
                height: 8rem;
                border-radius: 10%;
                border: gray solid;
                padding: 0.01rem;
                margin: 0.5rem;
                filter: grayscale(1);
              }

              $small-arrow-width: 8rem;
              $small-arrow-height: 2rem;
              &__arrow {
                width: $small-arrow-width;
                height: $small-arrow-height;
                position: relative;
                border-bottom-right-radius: $small-arrow-height / 2;
                border-top-right-radius: $small-arrow-height / 2;
                margin-left: 0.5rem;

                &:after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 0;
                  height: 0;
                  border-left: $small-arrow-height / 2 solid white;
                  border-top: $small-arrow-height / 2 solid transparent;
                  border-bottom: $small-arrow-height / 2 solid transparent;
                }
              }
            }
          }
        }

        &__done {
          display: inline-block;
          list-style: none;

          &__item {
            display: inline-block;

            &__image {
              width: 8rem;
              height: 8rem;
              border-radius: 10%;
              border: gold solid;
              padding: 0.01rem;
              margin: 0.5rem;
            }
          }
        }
      }
    }
  }

  &__rating {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5rem;

    &__sections {
      display: block;
      list-style: none;

      &__label {
        font-weight: bold;
      }

      &__table {
        margin: 3.5rem;
        border: 0.5rem black solid;
        border-radius: 5px;

        &__tab {
          display: flex;
          align-items: center;
          padding: 1.5rem;
          background-color: white;
          font-size: 2.5rem;
          border: 1px solid black;

          &__place {
            text-align: left;
            min-width: 10rem;
          }

          &__login {
            margin-right: auto;
          }

          &__rating {
            display: flex;
            align-items: center;
            margin-left: 20rem;

            & > *:first-child {
              margin-right: 1rem;
            }
          }

          &__rank {
            width: 5rem;
            height: 5rem;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            border: 0.5rem silver solid;
            background-size: cover;
            margin-right: 2rem;
            margin-left: 5rem;
          }
        }
      }
    }
  }
}