@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.for-tutors-section {
  background-color: $color-grey-light;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  & > h1 {
    flex-basis: 100%;
    order: -3;
  }
  &__svg-and-text {
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > img {
      width: 85%;
    }
    & > p {
      margin-top: 3rem;
      font-size: $bg-font-size;
    }
    @include respond(tab-port) {
      width: 100%;
      order: -2;
    }
  }
  &__carousel {
    width: 50%;
    order: -1;
    border-radius: 5px;
    background-color: transparent;
    @include respond(tab-port) {
      width: 100%;
      margin: 0 1rem 2rem 1rem;
    }
  }
  &__carousel-slide {
    border-radius: 5px;
    background-color: $color-grey-light;
    padding: 0;
    & > img {
      border-radius: 5px;
    }
  }
  &__carousel-caption {
    background-color: rgba($color-primary-light, 0.9);
    padding: 2rem;
    border-radius: 5px;
    color: black !important;
    font-size: $bg-font-size;
    margin-bottom: 2rem;
    @include respond(tab-land) {
      font-size: $md-font-size;
    }
  }
}
