@import "../../styles/abstracts/variables";

$margin-top: 2rem;

.level-form {
  &--table {
    display: flex;
    align-items: center;
  }
  &--list {
    display: flex;
    flex-direction: column;
  }
  & > *:not(:last-child) {
    margin-right: 1.5rem;
    min-width: fit-content;
  }
  &__level-number {
    font-size: $bg-font-size;
    margin-top: $margin-top;
  }
  &__action-button {
    border: none;
    background-color: inherit;
    margin-top: $margin-top;
  }
  &__level-type-icon {
    margin-top: $margin-top;
  }
  &__add-fields {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 1.5rem;
      min-width: fit-content;
    }
  }
}
