@import "../../styles/abstracts/variables";

.phone-game-preview {
  &__phone-image {
    height: 45rem;
    width: 28rem;
    background-image: url("../../assets/component-phone-game-preview/phone-preview.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  &__screenshots-carousel {
    margin-top: 6rem;
    height: 100%;
    width: 69%;
  }
}
