.u-container {
  max-width: 80%;
  margin: 0 auto;

  @include respond(phone) {
    padding: 0 1rem;
  }

  @include respond(tab-land) {
    max-width: 800px;
  }

  @include respond(tab-port) {
    max-width: 650px;
  }

  @include respond(large-desktop) {
    max-width: 1320px;
  }
}

.u-bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.u-bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.u-text-center {
  text-align: center;
}

.u-p {
  padding: 2rem;
}

.u-p-bg {
  padding: 4rem;
}

.u-mb-sm {
  margin-bottom: 1.5rem;
}
.u-mb-md {
  margin-bottom: 4rem;
}
.u-mb-bg {
  margin-bottom: 8rem;
}
.u-mt-sm {
  margin-top: 1.5rem;
}
.u-mt-md {
  margin-top: 4rem;
}
.u-mt-bg {
  margin-top: 8rem;
}
.u-mr-sm {
  margin-right: 1.5rem;
}
.u-mr-md {
  margin-right: 4rem;
}
.u-mr-bg {
  margin-right: 8rem;
}
.u-ml-sm {
  margin-left: 1.5rem;
}
.u-ml-md {
  margin-left: 4rem;
}
.u-ml-bg {
  margin-left: 8rem;
}